---
layout: resume
title: Lưu Thiện An - Backend Developer
description: I'm Luu Thien An, a developer with 1 year experience in Ruby on Rails, good knowledge about Database Design, Object-Oriented Design
image: https://res.cloudinary.com/anluu/image/upload/v1527413488/home-background_by8lqs.jpg
permalink: /resume/
---

<section id="me" class="text-center">
  <h3>LUU THIEN AN</h3>
  <h5>Developer</h5>
</section>

{% include resume/about.html %}

{% include resume/skills.html %}

{% include resume/experiences.html %}

{% include resume/education.html %}
