<section id="about">
  <div class="title">
    <h4 class="text-center"> ABOUT </h4>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-lg-4">
        <div class="card-box">
          <h5 class="heading">CONTACT</h5>

          <p>
            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            <span>
              Thu Duc District, Ho Chi Minh City, Vietnam
            </span>
          </p>
          <p>
            <span class="icon"><i class="fas fa-mobile-alt"></i></span>
            <span>
              +84 934 120 955
            </span>
          </p>
          <p>
            <span class="icon"><i class="far fa-envelope"></i></span>
            <span>
              <a href="mailto: lta.anluu@gmail.com">lta.anluu@gmail.com</a>
            </span>
          </p>
          <p>
            <span class="icon"><i class="fab fa-linkedin"></i></span>
            <span>
              <a href="{{site.links.linkedin}}">luuthienan</a>
            </span>
          </p>
          <p>
            <span class="icon"><i class="fab fa-github"></i></span>
            <span>
              <a href="{{site.links.github}}">luuthienan</a>
            </span>
          </p>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card-box">
          <h5 class="heading">SUMMARY</h5>

          <div class="row">
            <div class="col-sm-4 text-center">
              <img src="{{ site.baseurl }}/assets/images/avatar.jpg" class="avatar">
            </div>

            <div class="col-sm-8">
              <p>
                I'm Luu Thien An, a developer with 1 year experience in <strong class="text-bold">Ruby on Rails</strong>, good knowledge about <strong class="text-bold">Database Design</strong>, <strong class="text-bold">Object-Oriented Design</strong>. I would like to develop my career as a full-stack developer that leads to further growth in my professional skills by using my skills I learned in University and ability to work for the growth of a company.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
