<section id="education">
  <div class="title">
    <h4 class="text-center"> EDUCATION </h4>
  </div>

  <div class="content">
    <div class="card-box">
      <div class="row" style="margin-bottom: 0;">
        <div class="col-4 text-center">
          <img src="{{ site.baseurl }}/assets/images/bku-logo.png" class="logo">
        </div>

        <div class="col-8 text-center">
          <h5>Bach Khoa University</h5>
          <h6>Computer Science</h6>
          <p>09/2013 - 12/2017</p>
        </div>
      </div>
    </div>
  </div>
</section>
