---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

a {
  &:hover {
    text-decoration: none;
  }
}

a.btn {
  &:hover {
    color: white;
  }
}

.text-bold {
  font-weight: bold;
}
