<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    {% include meta.html %}

    {% include bootstrap.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/stylesheets/application.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    {% include header.html %}

    <div id="main" role="main">
      {{ content }}
    </div>

  </body>

  {% include google_analytics.html %}
</html>
