<section id="introduction">
  <div class="container">
    <div class="text-center text-intro">
      <h1 class="author">Luu Thien An</h1>
      <h3 class="description">Backend Developer</h3>

      <div class="menu-icon-social text-center">
        <ul>
          <li>
            <a href="{{ site.social_links.facebook }}">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="{{ site.social_links.twitter }}">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="{{ site.social_links.github }}">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a href="{{ site.social_links.linkedin }}">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="background">
    <img src="{{ site.baseurl }}/assets/images/home-background.jpg">
  </div>
</section>
